header {
  background-color: black;
  color: #ffffff;
  font-size: 0.8rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.navbar {
  padding-top: 0%;
  margin-top: 0%;
}

.navbar {
  background: black;
}

.navbar-toggler {
  color: red;
}

.call-link {
  color: #ffffff;
  text-decoration: none;
}

.call-link:hover {
  color: #ffffff;
  text-decoration: none;
}

polygon {
  fill: gold;
}

.stars {
  margin-top: 0.5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.header-logo {
  width: 2rem;
  height: 2rem;
}

.yell-logo {
  margin-bottom: 0.4rem;
}

/* // this is a white icon with 50% opacity */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* remove link underscore */
.carousel-item a {
  color: #ffffff;
  text-decoration: none;
}

/* .active {
  margin: auto;
  text-align: center;
} */


#first-section {
  /* background-image: url("automobile-fast-number-248747.jpg"); */
  background: url("audi-black-car-8639.jpg") no-repeat center center fixed;

  background-size: contain;
  background-size: cover;
}




#third-section {
  /* background-image: url("automobile-fast-number-248747.jpg"); */
  /* background: url("black-and-white-car-engine-chrome-190574.jpg") no-repeat */
    center center fixed;

  background-size: contain;
  background-size: cover;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

#fifth-section {
  padding-bottom: 1em;
  padding-top: 0.5em;
}

#row-spacing {
  margin: 0.4rem;
}

.jumbotron {
  background: white;
  margin-top: 1.4em;

  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  /* opacity: 0.9; */
}

.call-to-action-card {
  font-size: 2rem;
  padding: 2rem;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  color: black;
  /* margin-bottom: 0.6rem; */
}

footer {
  background: #000000;
  color: white;
}

/* #fifth-section {
  color: #ffffff;
  background: black;
} */
